*.swp
*.pyc
*.o
l2tp_client
*.sublime-*
*.cfg
/docs/_build
/tests/test-data
/build
/dist
/tunneldigger_broker.egg-info
/.pybuild
/debian/debhelper-build-stamp
/debian/files
/debian/tunneldigger-broker.debhelper.log
/debian/tunneldigger-broker.postinst.debhelper
/debian/tunneldigger-broker.prerm.debhelper
/debian/tunneldigger-broker.substvars
/debian/tunneldigger-broker.postrm.debhelper
/debian/tunneldigger-broker
