[Unit]
Description=tunneldigger tunnelling network daemon using l2tpv3
After=network.target auditd.service

[Service]
Type=simple
WorkingDirectory=/var/lib/tunneldigger-broker
ExecStart=/usr/bin/tunneldigger-broker /etc/l2tp_broker.cfg
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
